<mat-toolbar class="toolbar" color="primary">Inserción Laboral</mat-toolbar>
<p class="subtitulo">Selección de Aspirantes</p>
<mat-divider></mat-divider>

<div class="pantalla">

    <div>
      <mat-icon class="icono">today</mat-icon>Fecha: <b>29/12/2019</b>  
      <mat-icon class="icono">business</mat-icon>Empresa: <b>Seguros Rivadavia</b>  
      <mat-icon class="icono">work_outline</mat-icon>Oferta: <b>Full Time</b> 
      <mat-icon class="icono">people_outline</mat-icon>Aspirantes: <b>15</b>
    </div>  
    
    <div class="postulantes">

            <mat-card class="mat-elevation-z8 postulante">
                    <mat-card-header>
                      <mat-card-title>Walter Blanco</mat-card-title>
                      <mat-card-subtitle>La Plata - 36 Años</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/avatar.jpg">
                    <mat-card-content>
                        <p> Estudiante de Licenciatura en Economía, tiene 35 materias aprobadas con un promedio de 7.5 y cuenta con experiencia laboral.</p>

                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">zoom_in</i> PERFIL</button>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">attach_file</i> CV</button>
                    </mat-card-actions>
      
            </mat-card>

            <mat-card class="mat-elevation-z8 postulante">
                    <mat-card-header>
                      <mat-card-title>Walter Blanco</mat-card-title>
                      <mat-card-subtitle>La Plata - 36 Años</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/avatar.jpg">
                    <mat-card-content>
                        <p> Estudiante de Licenciatura en Economía, tiene 35 materias aprobadas con un promedio de 7.5 y cuenta con experiencia laboral.</p>

                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">zoom_in</i> PERFIL</button>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">attach_file</i> CV</button>
                    </mat-card-actions>
      
            </mat-card>

            <mat-card class="mat-elevation-z8 postulante">
                    <mat-card-header>
                      <mat-card-title>Walter Blanco</mat-card-title>
                      <mat-card-subtitle>La Plata - 36 Años</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/avatar.jpg">
                    <mat-card-content>
                        <p> Estudiante de Licenciatura en Economía, tiene 35 materias aprobadas con un promedio de 7.5 y cuenta con experiencia laboral.</p>

                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">zoom_in</i> PERFIL</button>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">attach_file</i> CV</button>
                    </mat-card-actions>
      
            </mat-card>

            <mat-card class="mat-elevation-z8 postulante">
                    <mat-card-header>
                      <mat-card-title>Walter Blanco</mat-card-title>
                      <mat-card-subtitle>La Plata - 36 Años</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/avatar.jpg">
                    <mat-card-content>
                        <p> Estudiante de Licenciatura en Economía, tiene 35 materias aprobadas con un promedio de 7.5 y cuenta con experiencia laboral.</p>

                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">zoom_in</i> PERFIL</button>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">attach_file</i> CV</button>
                    </mat-card-actions>
      
            </mat-card>

            <mat-card class="mat-elevation-z8 postulante">
                    <mat-card-header>
                      <mat-card-title>Walter Blanco</mat-card-title>
                      <mat-card-subtitle>La Plata - 36 Años</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/avatar.jpg">
                    <mat-card-content>
                        <p> Estudiante de Licenciatura en Economía, tiene 35 materias aprobadas con un promedio de 7.5 y cuenta con experiencia laboral.</p>

                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">zoom_in</i> PERFIL</button>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">attach_file</i> CV</button>
                    </mat-card-actions>
      
            </mat-card>

            <mat-card class="mat-elevation-z8 postulante">
                    <mat-card-header>
                      <mat-card-title>Walter Blanco</mat-card-title>
                      <mat-card-subtitle>La Plata - 36 Años</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/avatar.jpg">
                    <mat-card-content>
                        <p> Estudiante de Licenciatura en Economía, tiene 35 materias aprobadas con un promedio de 7.5 y cuenta con experiencia laboral.</p>

                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">zoom_in</i> PERFIL</button>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">attach_file</i> CV</button>
                    </mat-card-actions>
      
            </mat-card>

            <mat-card class="mat-elevation-z8 postulante">
                    <mat-card-header>
                      <mat-card-title>Walter Blanco</mat-card-title>
                      <mat-card-subtitle>La Plata - 36 Años</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/avatar.jpg">
                    <mat-card-content>
                        <p> Estudiante de Licenciatura en Economía, tiene 35 materias aprobadas con un promedio de 7.5 y cuenta con experiencia laboral.</p>

                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">zoom_in</i> PERFIL</button>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">attach_file</i> CV</button>
                    </mat-card-actions>
      
            </mat-card>

            <mat-card class="mat-elevation-z8 postulante">
                    <mat-card-header>
                      <mat-card-title>Walter Blanco</mat-card-title>
                      <mat-card-subtitle>La Plata - 36 Años</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/avatar.jpg">
                    <mat-card-content>
                        <p> Estudiante de Licenciatura en Economía, tiene 35 materias aprobadas con un promedio de 7.5 y cuenta con experiencia laboral.</p>

                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">zoom_in</i> PERFIL</button>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">attach_file</i> CV</button>
                    </mat-card-actions>
      
            </mat-card>

            <mat-card class="mat-elevation-z8 postulante">
                    <mat-card-header>
                      <mat-card-title>Walter Blanco</mat-card-title>
                      <mat-card-subtitle>La Plata - 36 Años</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/avatar.jpg">
                    <mat-card-content>
                        <p> Estudiante de Licenciatura en Economía, tiene 35 materias aprobadas con un promedio de 7.5 y cuenta con experiencia laboral.</p>

                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">zoom_in</i> PERFIL</button>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">attach_file</i> CV</button>
                    </mat-card-actions>
      
            </mat-card>

            <mat-card class="mat-elevation-z8 postulante">
                    <mat-card-header>
                      <mat-card-title>Walter Blanco</mat-card-title>
                      <mat-card-subtitle>La Plata - 36 Años</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/avatar.jpg">
                    <mat-card-content>
                        <p> Estudiante de Licenciatura en Economía, tiene 35 materias aprobadas con un promedio de 7.5 y cuenta con experiencia laboral.</p>

                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">zoom_in</i> PERFIL</button>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">attach_file</i> CV</button>
                    </mat-card-actions>
      
            </mat-card>

            <mat-card class="mat-elevation-z8 postulante">
                    <mat-card-header>
                      <mat-card-title>Walter Blanco</mat-card-title>
                      <mat-card-subtitle>La Plata - 36 Años</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/avatar.jpg">
                    <mat-card-content>
                        <p> Estudiante de Licenciatura en Economía, tiene 35 materias aprobadas con un promedio de 7.5 y cuenta con experiencia laboral.</p>

                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">zoom_in</i> PERFIL</button>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">attach_file</i> CV</button>
                    </mat-card-actions>
      
            </mat-card>

            <mat-card class="mat-elevation-z8 postulante">
                    <mat-card-header>
                      <mat-card-title>Walter Blanco</mat-card-title>
                      <mat-card-subtitle>La Plata - 36 Años</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/avatar.jpg">
                    <mat-card-content>
                        <p> Estudiante de Licenciatura en Economía, tiene 35 materias aprobadas con un promedio de 7.5 y cuenta con experiencia laboral.</p>

                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">zoom_in</i> PERFIL</button>
                        <button mat-button routerLink=""><i class="material-icons-outlined icono">attach_file</i> CV</button>
                    </mat-card-actions>
      
            </mat-card>

            

    </div>



</div>

