<div class="pantalla">
    <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            Datos Personales
          </ng-template>
          <h1>Datos personales</h1>
          <p>uijaaaa</p>
        </mat-tab>
    
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>thumb_down</mat-icon> The worst sushi
          </ng-template>
          <h1>Terrible sushi restaurants</h1>
          <p>...</p>
        </mat-tab>
    
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>thumb_down</mat-icon> The worst sushi
            </ng-template>
            <h1>Terrible sushi restaurants</h1>
            <p>...</p>
        </mat-tab>
    
    </mat-tab-group>
</div>

