 .pantalla {
      padding: 20px;
      display: flex;
      flex-direction: row;
      -webkit-animation: pantalla .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: pantalla .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 0px;

      }
  }

 
  @-webkit-keyframes pantalla {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes pantalla {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }



  

.ruta {
    opacity: .5;
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
    

  .contenedorFoto {
      width: 25%;
      margin-right: 40px;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 0 20px 0;
     }
  }

  .icono {
      opacity: .5;
  }


  .contenedorDatos {
      width: 100%;
  }

  .contenedorBloques {
      display: flex;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 20px;
    }
    
  }

.bloque {
    width: 40%;
    padding: 20px;
    @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0px;
    }
}

  .itemFormulario {
      width: 100%;
  }

  .contenedorMaterias {
      display: flex;
      justify-content: space-between;
  }

.itemMaterias {
    width: 40%;
}

  .itemMedio {
      width: 25%;
  }

  .contenedorIdiomas {
    display: flex;
    justify-content: space-between;
}

.itemIdioma {
    width: 48%;
}