.pantalla {
    padding: 20px;
}

.ruta {
    opacity: .5;
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  
.contenedorInscripcion {
  // width: 70%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.bloque {
  width: 450px;
  margin-right: 40px;
}




.contenedorTabla {
  margin-top: 40px;
  width: 1000px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
        color: #eb3740;
}