.pantalla {
    // padding: 20px;
}




  .inscripcion {
    display: flex;
    align-items: center;
    background-image: url("/assets/img/fondoinscripcion2.jpg");
    min-height: 250px;
    padding: 40px;
  }

  .bajada {
    font-size: 16px;
    margin-top: 10px;
    color: white;
    font-weight: 300;
  }

.titulo {
  font-size: 30px;
  color: white;
  font-weight: 300;
}

.btnIscripcion {
  margin-top: 20px;
  padding: 10px 40px 10px 40px;
}
  
.contenedorInscripcion {
  // width: 70%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}




.contenedorTabla {
  padding: 20px;
  margin-top: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
        color: #eb3740;
}