<mat-toolbar-row>
        <span class="ruta">&nbsp; Inscripción</span>
</mat-toolbar-row>

<mat-divider></mat-divider>

<div class="pantalla">

        <div class="contenedorInscripcion">

            <div class="numeros">1</div>
            
            <mat-card class="bloque">
                <mat-card-title>
                    Actualiza tus Datos	
                </mat-card-title>
                <mat-card-subtitle>
                        Es importante que mantengas tus datos de contacto y educativos actualizados, 
                        a traves de estos realizaremos las pre-selecciones. <br> 
                        Para actualizar tu datos ve a:
                        <b>Menu</b> <b> > <a routerLink="/sistema/mis_datos"> Mis Datos</a></b>.     	
                </mat-card-subtitle>
                <mat-card-content>
                        <a mat-flat-button color="primary" routerLink="/sistema/mis_datos" class="">ACTUALIZAR DATOS</a>
                </mat-card-content>

            </mat-card>
            
            <div class="numeros">2</div>

            <mat-card class="bloque">
                    <mat-card-title>
                        Inscripción
                    </mat-card-title>
                    <mat-card-subtitle>
                            Todos los alumnos regulares de la Facultad de Ciencias Económicas pueden acceder a una pasantía a través de la Prosecretaría de Inserción Laboral.     	
                    </mat-card-subtitle>
                    <mat-card-content>
                            <a mat-flat-button color="primary" routerLink="/sistema/inscripciones/crear" class="">INSCRIBIRME</a>
                    </mat-card-content>
    
                </mat-card>

        </div>

        <mat-divider></mat-divider>


        <div class="contenedorTabla mat-elevation-z8">



        <mat-table matSort [dataSource]="inscripciones$ | async" multiTemplateDataRows >
        
            <ng-container matColumnDef="oferta" >
                <mat-header-cell mat-sort-header *matHeaderCellDef > Oferta </mat-header-cell>
                <mat-cell *matCellDef="let n" > 
                    {{n}}
                </mat-cell>  
            </ng-container>
        
            <ng-container matColumnDef="fecha" >
                <mat-header-cell *matHeaderCellDef > Fecha </mat-header-cell>
                <mat-cell *matCellDef="let n" > 
                    {{n.fecha | date: 'dd/MM/yyyy'}}
                </mat-cell>  
            </ng-container>
        
            <ng-container matColumnDef="carrera" >
                    <mat-header-cell mat-sort-header *matHeaderCellDef > Carrera </mat-header-cell>
                    <mat-cell *matCellDef="let n" > 
                        {{n}}
                    </mat-cell>  
            </ng-container>

            <ng-container matColumnDef="acciones" >
                    <mat-header-cell mat-sort-header *matHeaderCellDef > Acciones </mat-header-cell>
                    <mat-cell *matCellDef="let n" > 
                           <button mat-icon-button (click)="eliminar(inscripcion)"><mat-icon>delete_outline</mat-icon></button>
                    </mat-cell>  
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="columnas()"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas();"></mat-row>        
        
        </mat-table>

        </div>

</div>
