
<div class="pantalla">

    <div class="inscripcion">
        <div class="contenidoInscripcion">
            <div class="titulo">Sistema de Pasantías Educativas para Alumnos  </div>
            <div class="bajada">Todos los alumnos regulares de la Facultad de Ciencias Económicas <br> pueden acceder a una pasantía a través de la Prosecretaría de Inserción Laboral.</div>
            <button mat-raised-button routerLink="/sistema/inscripciones/crear" class="btnIscripcion">INSCRIBIRME</button>

        </div>
    </div>

    <div class="tituloInscripciones">
        <i class="material-icons"> arrow_downward </i> Mis Inscripciones
    </div>
     
    <div class="contenedorTabla mat-elevation-z8">
 
        <mat-table matSort [dataSource]="inscripciones$ | async" multiTemplateDataRows >

            <ng-container matColumnDef="fecha" >
                <mat-header-cell *matHeaderCellDef > Fecha </mat-header-cell>
                <mat-cell *matCellDef="let n" > {{n.fecha_inscripcion | date: 'dd/MM/yyyy'}}</mat-cell>  
            </ng-container>
            
            <ng-container matColumnDef="oferta" >
                <mat-header-cell mat-sort-header *matHeaderCellDef > Inscripto en </mat-header-cell>
                <mat-cell *matCellDef="let n" > {{n.oferta}} </mat-cell>  
            </ng-container>
    
            <ng-container matColumnDef="acciones" >
                <mat-header-cell mat-sort-header *matHeaderCellDef > Acciones </mat-header-cell>
                <mat-cell *matCellDef="let n" ><button mat-icon-button (click)="eliminar(inscripcion)"><mat-icon>delete_outline</mat-icon></button></mat-cell>  
                </ng-container>
            
            <mat-header-row *matHeaderRowDef="columnas()"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas();"></mat-row>        
            
        </mat-table>

    </div>

</div>
